In [117]:
import pandas as pd
import numpy as np
import numpy.random as rand

In [26]:
provider = pd.Series(data = [35.40, 80, 380, 900, 400], index = ["Bread", "Milk", "Meat", "Fish", "Cheese"])
shop1 = provider["Bread":"Meat"] #ВКЛЮЧИТЕЛЬАЯ последний элемент
shop2 = provider[1:3] #обычный срез не включительно

"Shop1 = ", shop1, "Shop2 = ", shop2, "provider =", series

('Shop1 = ',
 Bread     35.4
 Milk      80.0
 Meat     380.0
 dtype: float64,
 'Shop2 = ',
 Milk     80.0
 Meat    380.0
 dtype: float64,
 'provider =',
 Bread      35.4
 Milk       80.0
 Meat      380.0
 Fish      900.0
 Cheese    400.0
 dtype: float64)

In [87]:
shop = pd.DataFrame([["Mango", 375], ["Pepper", 50], [shop1, 2]], columns = ["Name_product", "Price"], index = ["Product1", "Product2", 'Product3']) #DataFrame - по сути состоит из series(отсюда следует что он может содержать в себе другие series)
price = shop["Price"]
product1 = shop[0:1]
mango_price = shop["Price"]["Product1"] #обращение к элементам dataframe, !!!если хотим по индексам есть метод iloc!!!
shop.columns = ["Name_product", "New_price"]
shop,"Shop1 =", shop["Name_product"], "Shop2 =" ,shop["New_price"], "New_price = ",price, "Product1=", product1, "Mango_price=", mango_price

(                                               Name_product  New_price
 Product1                                              Mango        375
 Product2                                             Pepper         50
 Product3  Bread     35.4
 Milk      80.0
 Meat     380.0
 d...          2,
 'Shop1 =',
 Product1                                                Mango
 Product2                                               Pepper
 Product3    Bread     35.4
 Milk      80.0
 Meat     380.0
 d...
 Name: Name_product, dtype: object,
 'Shop2 =',
 Product1    375
 Product2     50
 Product3      2
 Name: New_price, dtype: int64,
 'New_price = ',
 Product1    375
 Product2     50
 Product3      2
 Name: Price, dtype: int64,
 'Product1=',
          Name_product  Price
 Product1        Mango    375,
 'Mango_price=',
 np.int64(375))

In [108]:
data = pd.DataFrame([["School", 600], ["House", 4], ["Mall", 2000], ["residential complex", 1200]], 
                    columns = ["Build", "count_people"], 
                    index = ["Build1", "Build2", "Build3", "Build4"])
data, data.iloc[3,1], data.iloc[2, -1] #обращение по индексам

(                      Build  count_people
 Build1               School           600
 Build2                House             4
 Build3                 Mall          2000
 Build4  residential complex          1200,
 np.int64(1200),
 np.int64(2000))

In [145]:
#random value
rand.seed(123)
a = rand.random((5,2))
a

array([[0.69646919, 0.28613933],
       [0.22685145, 0.55131477],
       [0.71946897, 0.42310646],
       [0.9807642 , 0.68482974],
       [0.4809319 , 0.39211752]])